form {
    margin-top: 10px;
}                                                  

label {
    display: block;
}                                                   

.form-group {
    margin-top: 5px;
}

.form-group input.ng-invalid.ng-touched {
    background-color: red;
}
